@tailwind base;
@tailwind components;
@tailwind utilities;





body {
  /* cursor: none; */
  background-color: #efeeff;
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll; 
}

h5 {
  font-weight: 200;
}

.cursor {
  border-radius: 50%;
  position: fixed;
  /* background-color: #03d8e7; */
  top: 0%;
  left: 0%;
  z-index: 10;
}
/* @media only screen and (min-width: 600px) {
  body {
    background-color: lightblue;
  }
} */

.follower-cursor {
  background-color: transparent;
  border: 1px solid black;
}